<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="first_robot">
    <xacro:macro name="base_link" params="length radius">
        <!-- 定义机器人身体部分 -->
        <link name="base_link">
            <!-- 定义外观描述 -->
            <visual>
                <!-- 沿着自己的几何中心的偏移和旋转 -->
                <origin xyz="0 0 0" rpy="0 0 0" />
                <!-- 几何形状 -->
                <geometry>
                    <!-- 圆柱体 半径 0.10，高度0.12 -->
                    <cylinder length="${length}" radius="${radius}" />
                </geometry>
                <!-- 定义材质和颜色 0.5半透明-->
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5" />
                </material>
            </visual> 
        </link>
    </xacro:macro>

    <xacro:macro name="imu_link" params="imu_name xyz">
        <!-- 机器人的IMU部件，惯性测量单元 -->
        <link name="${imu_name}_link">
            <!-- 定义外观描述 -->
            <visual>
                <!-- 沿着自己的几何中心的偏移和旋转 -->
                <origin xyz="0 0 0" rpy="0 0 0" />
                <!-- 几何形状 -->
                <geometry>
                <!-- box -->
                    <box size="0.02 0.02 0.02" />
                </geometry>
                <!-- 定义材质和颜色 0.5半透明-->
                <material name="white">
                    <color rgba="0.0 0.0 0.0 0.5" />
                </material>
            </visual> 
        </link>

        <!-- 定义关节 -->
        <joint name="${imu_name}_joint" type="fixed">
            <!-- 关节连接的父链接 -->
            <parent link="base_link" />
            <!-- 关节连接的子链接 -->
            <child link="${imu_name}_link" />
            <!-- 关节的位置和旋转 -->
            <origin xyz="${xyz}" rpy="0 0 0" />
        </joint>
    </xacro:macro>

    <xacro:base_link length="0.12" radius="0.10"/>
    <xacro:imu_link imu_name="imu_up" xyz="0.0 0.0 0.03"/>
    <xacro:imu_link imu_name="imu_down" xyz="0.0 0.0 -0.03"/>
</robot>
