<?xml version="1.0"?>

<robot name="myfirst">
    <!-- 机器人身体部分 -->
    <link name="base_link">
        <!-- 部件外观描述  -->
        <visual>
            <!--沿着自己集合中心的偏移和旋转 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状 -->
            <geometry>
                <!-- 圆柱体 半径0.1 -->
                <cylinder radius="0.10" length="0.12"/>
            </geometry>
            <!-- 颜色 -->
            <material name="white">
                <color rgba="1.0 1.0 1. 0.5"/>
            </material>
        </visual> 
    </link>
    <!-- 机器人的IMU部件， 惯性测量传感器-->
    <link name="imu_linek">
        <!-- 部件外观描述  -->
        <visual>
            <!--沿着自己集合中心的偏移和旋转 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- 几何形状 -->
            <geometry>
                <!-- 立方体 边长0.02m -->
                <box size="0.02 0.02 0.02"/>
            </geometry>
            <!-- 颜色 -->
            <material name="black">
                <color rgba="0.0 0.0 0. 0.5"/>
            </material>
        </visual> 
    </link>
    <!-- 机器人的关节，用于组合机器人部件 -->
    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_linek"/>
        <origin xyz="0.0 0.0 0.03" rpy="0.0 0.0 0.0"/>

    </joint>
    
</robot>